.button {
    background-color: lightblue;
    box-shadow: 0 3px 0 grey;
    transition: all 0.1s ease-in-out;
    border-radius: 4px;
    align-items: center;
}

.button:active {
    box-shadow: none;
    transform: translateY(5px);
}
